<div class="landing">
  <div class="d-flex flex-column align-items-center pt-5 landing-content">
    <p class="title">HANDLE THE DETAILS</p>
    <p class="title">ENJOY THE MOMENT</p>
    <div class="line-container">
      <div class="circle"></div>
    </div>
    <p>
      simplify wedding planning by combinning multiple features into one
      seamless platform with Zaffa
    </p>
    <button onclick="document.getElementById('our-services').scrollIntoView({ behavior: 'smooth' })">
  GET STARTED
</button>
  </div>
</div>
