<div class="container-fluid">
    <div class="row header-background py-4">
      <div class="col-3 p-0">

            <img src="Logo.png" class="logo-img" >
      </div>
      <div class="col p-0">
       <h4 class="footer-title-color">Services</h4>
       <p class="mb-1">Photography</p>
       <p class="mb-1">Halls</p>
       <p class="mb-1">Cars</p>
       <p class="mb-1">Bride Dressses</p>
       <p class="mb-1">Groom Suits</p>
       <p class="mb-1">Makeup Artist</p>
       <p class="mb-1">Session Halls</p>
      </div>
      <div class="col p-0">
        <h4 class="footer-title-color">Contact US</h4>
        <p class="mb-1">ZaffaHu&#64;info.com</p>
      </div>
      <div class="col p-0">
        <h4 class="footer-title-color"> Packages</h4>
        <p class="mb-1">Package 1</p>
        <p class="mb-1">Package 2</p>
        <p class="mb-1">Package 3</p>
      </div>
      <div class="col p-0">
        <div class="d-flex h-75 align-items-end">
            <div>
                <a href="#">
                  <i class="fa-brands fa-facebook icon-size"></i>
                </a>
            </div>
            <div>
               <a href="#">
                <i class="fa-brands fa-square-x-twitter icon-size"></i>
               </a>
            </div>
            <div>
                <a href="#"><i class="fa-brands fa-instagram icon-size"></i></a>
            </div>
        </div>
        <small>&copy;ZAFA 2025.all rights reserved</small>
      </div>
    </div>
  </div>
