.header-background{
    background-color: #F5D2D5;
}
.icon-size{
    font-size: 35px;
    margin-right: 10px;
    color: #327537;
}
.footer-title-color{
    color: #327537;
}
.logo-img{
    height: 80%;
    width: 80%;
}