  <hr class="footer-hr my-0 p-0">
<div class="container-fluid text-center footer-container pt-5">
  <div class="row justify-content-center p-0">

    <!-- Services Column -->
    <div class="col-lg-3 col-md-6 col-sm-6 mb-4 footer-section  text-start">
      <h4 class="footer-title">Services</h4>
      @for(service of services; track service){
        <a [routerLink]="['/vendors', service.label]">
          <p class="mb-1 footer-link">{{service.alt}}</p>
        </a>
      }
    </div>

    <!-- Contact Column -->
    <div class="col-lg-3 col-md-6 col-sm-6 mb-4 footer-section  text-start">
      <h4 class="footer-title">Contact Us</h4>
      <a href="mailto:zaffa1034&#64;gmail.com" class="footer-link">zaffa1034&#64;gmail.com</a>
    </div>

    <!-- Packages + Social Column -->

<div class="col-lg-3 col-md-6 col-sm-6 mb-4 footer-section text-start">
  <h4 class="footer-title">Features</h4>
    <p class="footer-link">Online Booking System</p>
    <p class="footer-link">Custom Wedding Packages</p>
    <p class="footer-link">Client Reviews & Ratings</p>
    <p class="footer-link">Special Offers & Discounts</p>
    <p class="footer-link">Wedding Tips & Blog</p>
</div>
      <!-- Social icons below packages -->

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-4 footer-section sociel">
      <div class="d-flex justify-content-center mt-2">
        <a href="#" class="social-icon-link"><i class="fa-brands fa-facebook fa-facebook-custom"></i></a>
        <a href="#" class="social-icon-link"><i class="fa-brands fa-square-x-twitter fa-twitter-custom"></i></a>
        <a href="#" class="social-icon-link"><i class="fa-brands fa-instagram fa-instagram-custom"></i></a>
      </div>

      <p class="d-block mt-2 copyright-text">
        &copy; ZAFA 2025. All rights reserved
      </p>
    </div>

  </div>
