<div class="header-background d-flex h-100">
    <div>
        <img src="Logo.png" class="logo-img">
    </div>
    <div class="w-100 d-flex align-items-center justify-content-end mt-3">
        <ul class="list-unstyled d-flex">
            <li class="ml me-3">
                <a href="#" class="text-decoration-none links-color">HOME</a>
            </li>
            <li class="me-3">
                <a href="#" class="text-decoration-none links-color">ABOUT</a>
            </li>
            <li class="me-3">
                <a href="#" class="text-decoration-none links-color">SERVICES</a>
            </li>
            <li class="me-3">
                <a  href="#" class="text-decoration-none links-color">CONTACT</a>
            </li>
        </ul>
    </div>
</div>
