<nav class="navbar navbar-expand-lg bg-body-tertiary ps-4 pe-4" [class.shrink]="isScrolled">
  <div class="container-fluid">
    <img src="ZAFFA.jpg" class="logo-img" />
    <button
      class="navbar-toggler mb-1"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <!-- Main links -->
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToSection('landing')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToSection('our-services')">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToSection('about')">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToSection('contact')">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/orders', id]" [hidden]="isLogged == false">My Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/vendorservices', id]" [hidden]="isLogged == false || user?.role == 'Bride/Groom'">
            <img src="vendor.png" alt="" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/orderrequest']" [hidden]="isLogged == false || user?.role == 'Bride/Groom'">
            <img src="book.png" alt="" />
          </a>
        </li>
      </ul>

      <!-- Sign Up / Sign In links -->
      <ul class="sign-btns" [hidden]="isLogged == true">
        <li class="nav-item sign">
          <a class="nav-link signup" [routerLink]="['/signup']">SignUp</a>
        </li>
        <li class="nav-item log">
          <a class="nav-link signin" [routerLink]="['/login']">LogIn</a>
        </li>
      </ul>

      <!-- Username display -->
      <a class="nav-link" style="pointer-events: none; cursor: default;" *ngIf="isLogged && user">
        {{user?.username}}
      </a>

    </div>
  </div>
</nav>
