<div class="sign-up">
    <div class="signup-content row">
        <div class="col-sm-6 d-sm-flex d-none">
            <img src="signup.png">
        </div>
        <div class="col-12 col-sm-6  justify-content-center d-flex flex-column align-items-center">
            <h1>Reset password</h1>
            <p class="ms-3">Let's make your dream wedding closer to reality !</p>
            <form [formGroup]="forgetPassword" (ngSubmit)="sendData()" class="col-11 col-md-10 ms-4">
                <div class="mb-2">
                    <input type="email" id="FormControlInput1" class="inp" placeholder="Email"
                        formControlName="email"><br>
                    <div [hidden]="email?.untouched || email?.valid">
                        <small [hidden]="!email?.errors?.['required']" class="ms-1">required</small>
                        <small [hidden]="!email?.errors?.['pattern']" class="ms-1">invalid email</small>
                    </div>
                </div>
                <div class="mb-2">
                    <input type="password" id="FormControlInput2" class="inp" placeholder="password"
                        formControlName="password"><br>
                    <div [hidden]="password?.untouched || password?.valid">
                        <small [hidden]="!password?.errors?.['required']" class="ms-1">required</small>
                    </div>
                </div>
                <div class="button">
                    <button [disabled]="forgetPassword.invalid">Reset</button>
                </div>
            </form>
        </div>
    </div>

</div>

