<div class="page-wrapper">
  <h1 class="text-center">
    Payment
  </h1>
  <div class="line-container">
        <div class="circle"></div>
      </div>
  <div class="payment-container">
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="payment-box">
      <div class="payment-methods">
        <label>Pay via:</label>
        <label class="method-option">
          <input type="radio" formControlName="paymentMethod" value="fawery" />
          <img src="faw.png" alt="Fawry" />
        </label>
        <label class="method-option">
          <input type="radio" formControlName="paymentMethod" value="vodafone" />
          <img src="vod.png" alt="Vodafone" />
        </label>
      </div>

      @if (paymentForm.get('paymentMethod')?.value === 'vodafone') {
        <div class="cash-number">
          <label class="cash-label">Vodafone Cash Number</label>
          <div class="number-box">
            <img src="num.png" alt="Copy" />
            <span>01053698542</span>
          </div>
        </div>
      }

      <label>Full Name:</label>
      <input type="text" formControlName="fullName" placeholder="Enter your full name" />

      <label>Phone number:</label>
      <input type="text" formControlName="phoneNumber" placeholder="Enter your number" />

      <label>Amount:</label>
      <input type="text" formControlName="amount" placeholder="Enter amount" />

      <label>Screenshot of the transfer:</label>
      <input type="file" (change)="onFileChange($event)" />

      <button type="submit" [disabled]="paymentForm.invalid || !screenshot">SEND</button>
    </form>
  </div>
</div>
