:host {
  display: block;
  min-height: 100vh;
  background-color: #F5F5F8;
  padding: 100px 15px;
  font-family: 'Actor', sans-serif;
  box-sizing: border-box;
}

.line-container {
  position: relative;
  width: 200px;
  height: 3px;
  background-color: #333;
  margin: 0 auto;
}

.line-container .circle {
  position: absolute;
  top: -6px;
  left: 0;
  width: 13px;
  height: 13px;
  background-color: #333;
  border-radius: 50%;
  animation: moveCircle 3s infinite alternate ease-in-out;
}

@keyframes moveCircle {
  0% { left: 0; }
  100% { left: calc(100% - 20px); }
}


.payment-container {
  padding: 30px 20px;
  font-family: 'Segoe UI', sans-serif;

  /* نخليها flex علشان نوسّط الفورم */
  display: flex;
  justify-content: center;
}

.payment-box {
  border-radius: 10px;
  padding: 44px 32px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(128, 128, 128, 0.4);

  /* الحل الأساسي هنا 👇 */
  width: 100%;
  max-width: 600px; /* خلي الفورم تبقى عرضها محدود عشان تبان في النص */
}


.payment-methods {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.method-option {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  flex-direction: row;
}

.method-option img {
  height: 90px;
  width: 90px;
}

.cash-number {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
  text-align: right;
}

.cash-label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
  color: #333333;
}

.number-box {
  display: flex;
  align-items: center;
  background-color: #fddde6;
  padding: 10px 16px;
  border-radius: 6px;
  gap: 10px;
}

.number-box span {
  font-family: 'Actor', sans-serif;
  font-size: 16px;
  color: #333333;
}

.number-box img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form label {
  color: #333  ;
  font-weight: 600;
  margin-top: 10px;
}

input[type="text"],
input[type="file"] {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

form input[type="file"] {
  background: #F7F2EC ;
  color: #333;
}
input:focus,
select:focus,
textarea:focus {
  border-color: rgba(237, 184, 171, 0.7);
  box-shadow: 0 0 5px rgba(237, 184, 171, 0.7);
  outline: none; /* prevents default blue outline in some browsers */
}

form button {
  margin: 20px auto 0;
  padding: 10px 30px;
  background:  #E18670  ;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 150px;
  font-family: system-ui, sans-serif;
  transition: all .5s ease;
  font-size: 18px;
}
form button:hover{
  background-color: #e27053 ;
}

@media (max-width: 600px) {
  .line-container{
    display: none;
  }
  .method-option img {
  height: 90px;
  width: 90px;
}
  .cash-number {
    align-items: flex-start;
    text-align: left;
  }

  .method-option img {
  height: 50px;
  width: 50px;
}
}
