 <!--why choosing zaffa-->
    <div class="why-choosing">
      <div class="text-center mb-5">
        <h1 class="why-choosing-heading">WHY CHOOSING ZAFFA ?</h1>
        <div class="line-container">
          <div class="circle"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 item-1 item">
          <p class="">Flexible Budgeting</p>
        </div>
        <div class="col-3 item-2 item">
          <img src="img 2.png" />
        </div>
        <div class="col-3 item-3 item">
          <p class="m-0">+5000 Vendor</p>
        </div>
        <div class="col-3 item-4 item">
          <img src="img 4.png" />
        </div>
        <div class="col-3 item-5 item">
          <img src="img 1.png" />
        </div>
        <div class="col-3 item-6 item">
          <p class="m-0">Varied Options</p>
        </div>
        <div class="col-3 item-7 item">
          <img src="img 3.png" />
        </div>
        <div class="col-3 item-8 item">
          <p class="m-0">Easy Booking</p>
        </div>
      </div>
    </div>
