 <!--why choosing zaffa-->
    <div class="why-choosing">
      <div class="text-center mb-5">
        <h1 class="why-choosing-heading">WHY CHOOSING ZAFFA ?</h1>
        <div class="line-container">
          <div class="circle"></div>
        </div>
      </div>
      <div class="items">
        <div class="item-1 item">
          <p class="m-0">Flexible</p>
          <p class="m-0">Budgeting</p>
        </div>
        <div class="item-2 item">
          <img src="img 2.png" />
        </div>
        <div class="item-3 item">
          <p class="m-0">+5000</p>
          <p class="m-0">Vendor</p>
        </div>
        <div class="item-4 item">
          <img src="img 4.png" />
        </div>
        <div class="item-5 item">
          <img src="img 1.png" />
        </div>
        <div class="item-6 item">
          <p class="m-0">Varied</p>
          <p class="m-0">Options</p>
        </div>
        <div class="item-7 item">
          <img src="img 3.png" />
        </div>
        <div class="item-8 item">
          <p class="m-0">Easy</p>
          <p class="m-0">Booking</p>
        </div>
      </div>
    </div>
