<div class="landing">
    <div class="d-flex flex-column align-items-center pt-5 landing-content">
        <p class="title">Handle the details</p>
        <p class="subtitle">Enjoy the moment</p>
        <img src="Line1.png" class="image-line">
        <p>simplify wedding planning by combinning multiple features into one seamless platform with Zaffa</p>
        <button>GET STARTED</button>
    </div>
</div>
<div class="services">
    <h1 class="sevices-heading">OUR SERVICES</h1>
    <img src="Line1.png" class="image-line">
    <p>Enjoy all your wedding services in one place !</p>
    <!--services-->
    <div class="services-items w-100 row justify-content-center gy-5">
        <div class="col">
            <div>
                <img src="camera.png">
                <p>Photography</p>
            </div>
        </div>
        <div class="col">
            <div>
                <img src="wedding-ceremony.png">
                <p>Halls</p>
            </div>
        </div>
        <div class="col">
            <div>
                <img src="wedding-suit.png">
                <p>Groom Suits</p>
            </div>
        </div>
        <div class="col">
            <div>
                <img src="wedding-dress.png">
                <p>Bride Dresses</p>
            </div>
        </div>
        <div class="col">
            <div>
                <img src="wedding-car.png">
                <p>Cars</p>
            </div>
        </div>

    </div>
     <!--about-->
    <div class="container">
        <div class="about row">
            <div class="col-12 col-md-6">
                <h1>ABOUT</h1>
                <img src="Line1.png" class="image-line">
                <p>
                    We bring together the best wedding services all in one place from professional photographers to
                    stunning
                    bridal dresses, elegant groom suits, luxurious wedding halls, and stylish cars to make your entrance
                    unforgettable.
                </p>
                <p>
                    Our mission is to make wedding planning easy, stress-free, and exciting by connecting you with
                    trusted vendors and offering a seamless booking experience.
                    Whether you're planning a grand celebration or an intimate gathering, we're here to help you bring
                    your dream wedding to life.
                </p>
            </div>
            <div class="col-12 image col-md-6">
                <img src="about.png">
            </div>
        </div>
    </div>
    <!--common vendors-->
    <div class="common-services">
        <div class="text-center">
            <h1>MOST COMMON VENDORS</h1>
            <img src="Line1.png" class="image-line">
        </div>
        <div class="vendors">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-1 left-arrow" (click)="Previous()">
                        <img src="left_arrow.png">
                    </div>
                    @for (item of commonvendors.slice(start,end); track item.id) {
                        <div class="col">
                            <img [src]="item.image">
                            <div class="text-center">
                                <p class="mt-2">{{item.category}}</p>
                                <button>Book Now</button>
                            </div>
                        </div>
                      }     
                    <div class="col-1 right-arrow" (click)="Next()">
                        <img src="right_arrow.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--packages-->
    <div class="packages container">
        <div class="mb-5">
            <h1 class="packages-heading">PACKAGES FOR YOU</h1>
            <img src="Line1.png" class="image-line">
        </div>
        <div class="row mb-5">
            <div class="col package-1">
                <h5>start from</h5>
                <div class="d-flex align-items-center ms-3 price">
                    <p class="price-number">10,000</p>
                    <p class="price-currency">EGP</p>
                </div>
                <div class="package-item package-item-1">
                    <img src="Check.png">
                    <p>Half day session</p>

                </div>
                <div class="package-item package-item-2">
                    <img src="Check.png">
                    <p>Half day session</p>
                </div>
                <div class="package-item">
                    <img src="Check.png">
                    <p>Half day session</p>
                </div>
                <div class="d-flex justify-content-center">
                    <button>Book Now</button>
                </div>
            </div>
            <div class="col package-2">
                <h5>start from</h5>
                <div class="d-flex align-items-center ms-3 price">
                    <p class="price-number">10,000</p>
                    <p class="price-currency">EGP</p>
                </div>
                <div class="package-item package-item-1">
                    <img src="Check.png">
                    <p>Half day session</p>

                </div>
                <div class="package-item package-item-2">
                    <img src="Check.png">
                    <p>Half day session</p>
                </div>
                <div class="package-item package-item-2">
                    <img src="Check.png">
                    <p>Half day session</p>
                </div>
                <div class="package-item">
                    <img src="Check.png">
                    <p>Half day session</p>
                </div>
                <div class="d-flex justify-content-center">
                    <button>Book Now</button>
                </div>
            </div>
            <div class="col package-3">
                <h5>start from</h5>
                <div class="d-flex align-items-center ms-3 price">
                    <p class="price-number">10,000</p>
                    <p class="price-currency">EGP</p>
                </div>
                <div class="package-item package-item-1">
                    <img src="Check.png">
                    <p>Half day session</p>

                </div>
                <div class="package-item package-item-2">
                    <img src="Check.png">
                    <p>Half day session</p>
                </div>
                <div class="package-item package-item-2">
                    <img src="Check.png">
                    <p>Half day session</p>
                </div>
                <div class="package-item package-item-2">
                    <img src="Check.png">
                    <p>Half day session</p>
                </div>
                <div class="package-item">
                    <img src="Check.png">
                    <p>Half day session</p>
                </div>
                <div class="d-flex justify-content-center">
                    <button>Book Now</button>
                </div>
            </div>
        </div>
    </div>
    <!--why choosing zaffa-->
    <div class="why-choosing container">
        <div class="text-center mb-5">
            <h1>WHY CHOOSING ZAFFA ?</h1>
            <img src="Line1.png" class="image-line">
        </div>
        <div class="row">
            <div class="col-3 item-1">
                <p class="m-0">Flexible</p>
                <p class="m-0">Budgeting</p>
            </div>
            <div class="col-3 p-0 item-2">
                <img src="img 2.png">
            </div>
            <div class="col-3 p-0 item-3">
                <p class="m-0">+5000</p>
                <p class="m-0">Vendor</p>
            </div>
            <div class="col-3 p-0 item-4">
                <img src="img 4.png">
            </div>
            <div class="col-3 p-0 item-5">
                <img src="img 1.png">
            </div>
            <div class="col-3 p-0 item-6">
                <p class="m-0">Varied</p>
                <p class="m-0">Options</p>
            </div>
            <div class="col-3 p-0 item-7">
                <img src="img 3.png">
            </div>
            <div class="col-3 p-0 item-8">
                <p class="m-0">Easy</p>
                <p class="m-0">Booking</p>
            </div>
        </div>

    </div>
    <!--contact us-->
    <div class="contact-us mb-5">
        <div class="text-center mt-5">
            <h1>CONTACT US</h1>
            <img src="Line1.png" class="image-line">
            <p class="m-0">Have questions or need assistance? We're here to help you</p>
        </div>
        <div class="contact-form">
            <form>
                <input type="email" placeholder="Enter your Email"><br>
                <textarea placeholder="Enter your message" rows="4"></textarea><br>
                <button>send</button>
            </form>
        </div>

    </div>
</div>