<div class="landing">
  <div class="d-flex flex-column align-items-center pt-5 landing-content">
    <p class="title">HANDLE THE DETAILS</p>
    <p class="title">ENJOY THE MOMENT</p>
    <div class="line-container">
      <div class="circle"></div>
    </div>
    <p>
      simplify wedding planning by combinning multiple features into one
      seamless platform with Zaffa
    </p>
    <button>GET STARTED</button>
  </div>
</div>
<div class="services">
  <div class="services-content">
    <h1 class="sevices-heading">OUR SERVICES</h1>
    <div class="line-container">
      <div class="circle"></div>
    </div>

    <p class="sevice-title">Enjoy all your wedding services in one place !</p>
  </div>

  <div class="services-items w-100">
    <div class="row justify-content-center gy-4">
      <div class="item col-12 col-md-4 col-lg-2 text-center">
        <div class="service-icon">
          <img src="camera.png" class="img-fluid" alt="Photography" />
        </div>
        <p>Photography</p>
      </div>
      <div class="item col-12 col-md-4 col-lg-2 text-center">
        <div class="service-icon">
          <img src="wedding-ceremony.png" class="img-fluid" alt="Halls" />
        </div>
        <p>Halls</p>
      </div>
      <div class="item col-12 col-md-4 col-lg-2 text-center">
        <div class="service-icon">
          <img src="wedding-suit.png" class="img-fluid" alt="Groom Suits" />
        </div>
        <p>Groom Suits</p>
      </div>
      <div class="item col-12 col-md-4 col-lg-2 text-center">
        <div class="service-icon">
          <img src="wedding-dress.png" class="img-fluid" alt="Bride Dresses" />
        </div>
        <p>Bride Dresses</p>
      </div>
      <div class="item col-12 col-md-4 col-lg-2 text-center">
        <div class="service-icon">
          <img src="wedding-car.png" class="img-fluid" alt="Cars" />
        </div>
        <p>Cars</p>
      </div>
    </div>
  </div>

  <!--about-->
  <div class="about row">
  <div class="about-desc col-12 col-md-6">
    <h1 class="about-heading">ABOUT</h1>
    <div class="line-container">
      <div class="circle"></div>
    </div>
    <p>
      We bring together the best wedding services all in one place from
      professional photographers to stunning bridal dresses, elegant groom
      suits, luxurious wedding halls, and stylish cars to make your entrance
      unforgettable.
    </p>
    <p>
      Our mission is to make wedding planning easy, stress-free, and exciting
      by connecting you with trusted vendors and offering a seamless booking
      experience. Whether you're planning a grand celebration or an intimate
      gathering, we're here to help you bring your dream wedding to life.
    </p>
  </div>
  <div class="about-img col-12 image col-md-6">
    <div class="img-box">
      <img src="about.jpg" />
      <div class="border-box"></div>
    </div>
  </div>
</div>

  <!--common vendors-->
  <!-- Common Vendors Section -->
<!-- Common Vendors Section -->
<div class="common-services">
  <div class="text-center">
    <h1 class="common-services-heading">MOST COMMON VENDORS</h1>

    <div class="line-container">
      <div class="circle"></div>
    </div>

    <div class="carousel-wrapper">
      <p-carousel
        [value]="products"
        [numVisible]="3"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
        circular
        [autoplayInterval]="3000"
      >
        <ng-template let-product pTemplate="item">
          <div class="carousel-item">
            <div class="image-wrapper">
              <img
                [src]="product.image"
                [alt]="product.category"
              />
              <p-tag
                value="In Stock"
                severity="success"
                class="tag"
              ></p-tag>
            </div>
            <div class="category">{{ product.category }}</div>
            <button class="common-vendor-book-btn">BOOK NOW</button>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>

  <!--packages-->
  <div class="packages">
    <div class="mb-5">
      <h1 class="packages-heading">PACKAGES FOR YOU</h1>
      <div class="line-container">
        <div class="circle"></div>
      </div>
    </div>

    <div class="row gy-5 justify-content-center">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-4 package-card"
        *ngFor="let pkg of packages; let i = index"
        [ngClass]="{ 'second-item': i === 1 }"
      >
        <p class="start-text">Start from</p>
        <p class="price">{{ pkg.price | number }} EGP</p>

        <div class="package-items-scroll">
          <div class="package-item" *ngFor="let item of pkg.items">
            <div class="package-item-inner">
              <div class="check">
                <i class="fa-solid fa-check"></i>
              </div>
              <p>{{ item }}</p>
            </div>
            <hr />
          </div>
        </div>

        <button class="book-btn">Book Now</button>
      </div>
    </div>
  </div>

  <!--why choosing zaffa-->
  <div class="why-choosing">
    <div class="text-center mb-5">
      <h1 class="why-choosing-heading">WHY CHOOSING ZAFFA ?</h1>
      <div class="line-container">
        <div class="circle"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 item-1 item">
        <p class="">Flexible Budgeting</p>
      </div>
      <div class="col-3 item-2 item">
        <img src="img 2.png" />
      </div>
      <div class="col-3 item-3 item">
        <p class="m-0">+5000 Vendor</p>
      </div>
      <div class="col-3 item-4 item">
        <img src="img 4.png" />
      </div>
      <div class="col-3 item-5 item">
        <img src="img 1.png" />
      </div>
      <div class="col-3 item-6 item">
        <p class="m-0">Varied Options</p>
      </div>
      <div class="col-3 item-7 item">
        <img src="img 3.png" />
      </div>
      <div class="col-3 item-8 item">
        <p class="m-0">Easy Booking</p>
      </div>
    </div>
  </div>
  <!--contact us-->
  <div class="contact-us mb-5">
    <div class="text-center mt-5">
      <h1 class="contact-us-heading">CONTACT US</h1>
      <div class="line-container">
        <div class="circle"></div>
      </div>
      <p class="contact-us-sub-heading">
        Have questions or need assistance? We're here to help you
      </p>
    </div>
    <div class="contact-form">
      <form>
        <input type="email" placeholder="Enter your Email" /><br />
        <textarea placeholder="Enter your message" rows="4"></textarea><br />
        <button>send</button>
      </form>
    </div>
  </div>
</div>
