:host {
  display: block;
  min-height: 100vh;
  background-color: #F5F5F8;
  padding: 120px 15px;
  font-family: 'Actor', sans-serif;

}

.profile-container {
  margin: 100px auto;
  padding: 32px;
  background-color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  max-width: 800px;
}

.title-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.title-with-line {
  color: #252423;
  font-weight: 500;
  font-size: 2rem;
  font-family: system-ui, sans-serif;
  position: relative;
  padding-bottom: 10px;
}

.line-container {
  position: relative;
  width: 350px;
  height: 3px;
  background-color: #333;
  margin: 0 auto;
}

.line-container .circle {
  position: absolute;
  top: -6px;
  left: 0;
  width: 13px;
  height: 13px;
  background-color: #333;
  border-radius: 50%;
  animation: moveCircle 3s infinite alternate ease-in-out;
}

@keyframes moveCircle {
  0% { left: 0; }
  100% { left: calc(100% - 20px); }
}

.bookingForm{
  max-width: 800px;
  margin: 24px auto;
  padding: 32px 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(128, 128, 128, 0.4);

}
/* Profile Image */


/* Form Section */
.form-section {
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  max-width: 700px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-bottom: 6px;
  display: block;
  font-family: 'Actor', sans-serif;
}

/* Inputs */
input,
select,
textarea {
  width: 100%;
  padding: 10px 14px;
  background-color: transparent;
  border: 2px solid #33333355;
  border-radius: 6px;
  font-family: "Actor", sans-serif;
  transition: all 0.3s ease-in-out;
}

input:focus,
select:focus,
textarea:focus {
  border-color: rgba(237, 184, 171, 0.7);
  box-shadow: 0 0 5px rgba(237, 184, 171, 0.7);
  outline: none; /* prevents default blue outline in some browsers */

}

textarea {
  resize: vertical;
}

/* Upload Box */
.upload-box {
  background-color: #fdf6e4;
  border: 1px solid #888;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}


.label-box {
  background-color: #333;
  color: white;
  padding: 10px;
  width: 80%;
  border-radius: 6px;
  border: none;
}

button{
  background-color: #4BB6AD;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  font-family: system-ui, sans-serif;
  transition: all 0.3s ease;
  padding: 12px 24px;
}
button:hover{
  background-color: #e27053 ;
}
/* Responsive Input */
.responsive-file-input {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .responsive-file-input {
    max-width: 100%;
  }
  .title-with-line {
    font-size: 26px;
  }
  .line-container {
    display: none;
  }
  .line-container .circle {
    width: 15px;
    height: 15px;
    top: -6px;
  }
}
