<div class="about row">
  <div class="about-desc col-12 col-md-6" #desc>
    <h1 class="about-heading">ABOUT</h1>
    <div class="line-container">
      <div class="circle"></div>
    </div>
    <p>
      We bring together the best wedding services all in one place from
      professional photographers to stunning bridal dresses, elegant groom
      suits, luxurious wedding halls, and stylish cars to make your entrance
      unforgettable.
    </p>
    <p>
      Our mission is to make wedding planning easy, stress-free, and exciting
      by connecting you with trusted vendors and offering a seamless booking
      experience. Whether you're planning a grand celebration or an intimate
      gathering, we're here to help you bring your dream wedding to life.
    </p>
  </div>

  <div class="about-img col-12 image col-md-6" #img>
    <div class="img-box">
      <img src="about.jpg" />
      <div class="border-box"></div>
    </div>
  </div>
</div>
