<div class="profile-container">
  <div class="image-upload">
    <input type="file" id="fileInput" hidden (change)="onImageSelected($event)" />
    <label for="fileInput" class="image-label">

      <img [src]="imageSrc || 'photo.jpg'" alt="User" />
    </label>
  </div>

  <div class="form-section">
    <div class="form-row">
      <div class="form-group">
        <label>Name / Service Title :</label>
        <input type="text" value="Mohamed Ahmed" [(ngModel)]="serviceData.title" />
      </div>
      <div class="form-group">
        <label>Category :</label>
        <select [(ngModel)]="serviceData.category">
          <option value="Photography">Photography</option>
          <option value="Halls">Halls</option>
          <option value="Groom Suits">Groom Suits</option>
          <option value="Bride Dresses">Bride Dresses</option>
          <option value="Cars">Cars</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label>Years of experience :</label>
      <input type="text" value="4" [(ngModel)]="serviceData.exprience"/>
    </div>

    <div class="form-group">
      <label>Summary about service :</label>
      <textarea rows="4" [(ngModel)]="serviceData.serviceDetails">
  I am Mohamed Ahmed a professional photographer, have experience in photography field more than 4 years enable me work with thousands of clients from all over Egypt in many celebrates as weddings,birthdays,engagments and more.
        </textarea>
    </div>

    <div class="form-group">
      <label>Images / Videos :</label>
      <div class="upload-box">
        <!--
           <img src="add.png" alt="Add" style="width: 128px;height: 128px;"/>
          <p>Add images and videos show your service</p>
         -->
        <ul class="uploaded-files">
          <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
        </ul>
        <div *ngFor="let fileInput of fileInputs; let i = index">
          @if(i==0)
          {
          <div *ngIf="!fileInput.uploaded">
            <input type="file" (change)="onFileSelected($event, i)" required />
          </div>
          }
          @else
          {
          <div *ngIf="!fileInput.uploaded">
            <input type="file" (change)="onFileSelected($event, i)" />
          </div>
          }
        </div>


      </div>
    </div>

    <div class="form-group">
      <label>Services & Pricing :</label>
      <div class="pricing-box">
        <div class="pricing-row" *ngFor="let field of Fields; let i = index">
          <input class="label-box" [(ngModel)]="field.title" placeholder="Service name" />
          <input class="price-box" [(ngModel)]="field.price" placeholder="Price" />
        </div>
        <div class="add-icon">
          <button type="button" (click)="addInput()" [disabled]="!canAddMore()">+</button>
        </div>
      </div>

      <div class="form-group">
        <label>Address (Optional) :</label>
        <input type="text" [(ngModel)]="serviceData.Address" />
      </div>

      <div class="form-group contact-info">
        <label>Contact info :</label>
        <div class="contact-fields">
          <input type="text" value="01359632145" [(ngModel)]="serviceData.phone" />
          <input type="text" value="www.facebook.com" [(ngModel)]="serviceData.facebookLink" />
          <input type="text" value="www.instagram.com" [(ngModel)]="serviceData.instgrameLink"/>
        </div>
      </div>

      <button class="save-btn" (click)="sendData()">SAVE CHANGES</button>
    </div>
  </div>