
:root {
  --main-color: #252423;
  --secondary-color: #5a9a5a;
  --background-color: #F7F2EC;
  --text-color: #ffffff;
}

html, body {
  background-color: #F5F5F8;
    width: 100%;
    font-family: 'Actor', sans-serif;
  }
