<div class="home-container">
  <!-- Top Half -->
  <div class="top-half">
    <div class="box">
      <img src="group-o.png" alt="" />
      <div class="info">
        <span>{{ users }}</span>
        <span>Users</span>
      </div>
    </div>
    <div class="box">
      <img src="people.png" alt="" />
      <div class="info">
        <span>{{ brides }}</span>
        <span>Customers</span>
      </div>
    </div>
    <div class="box">
      <img src="vendor-o.png" alt="" />
      <div class="info">
        <span>{{ vendors }}</span>
        <span>Vendors</span>
      </div>
    </div>
    <div class="box">
      <img src="rating-o.png" alt="" />
      <div class="info">
        <span>{{ services }}</span>
        <span>Services</span>
      </div>
    </div>
    <div class="box">
      <img src="booking.png" alt="" />
      <div class="info">
        <span>{{ bookingsCount }}</span>
        <span>Bookings</span>
      </div>
    </div>
    <div class="box">
      <img src="check-mark-o.png" alt="" />
      <div class="info">
        <span>{{ cBookingsCount }}</span>
        <span>Confirmed</span>
      </div>
    </div>
  </div>

  <!-- Bottom Half -->
  <div class="bottom-half">
    <div class="bottom-box">
  @if(chartOptions){
    <div id="chart">
    <apx-chart
  #chart
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [xaxis]="chartOptions.xaxis"
  [yaxis]="chartOptions.yaxis || []"
  [dataLabels]="chartOptions.dataLabels"
  [stroke]="chartOptions.stroke"
  [title]="chartOptions.title"
  [grid]="chartOptions.grid">
</apx-chart>
  </div>
  }
</div>


    <div class="bottom-box-2">
      <div class="heading">
        <p>Recent Bookings Confirmed</p>
      </div>
      <div class="bookings">
        @for(b of bookings; track b){
        <div class="booking">
          <div class="col">{{ b.full_name }}</div>
          <div class="col">{{ b.date | date }}</div>
          <div class="col">
            <span>{{ b.total_price }} EGP</span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
